[2016-09-22 10:35] lwis opened #1 "Support for battery, other characteristics"
I read your [post](https://www.open-homeautomation.com/2016/08/23/reverse-engineering-the-mi-plant-sensor/) on reverse engineering the BLE API, and noticed that the app is able to query the battery level of the sensor - would it be possible to query this, and potentially other things? Such as syncing the history of the sensor?

[2016-09-22 11:29] open-homeautomation commented on #1
Unfortunately I don't have any information how to read the battery level and the history. The standard battery attribute doesn't seem to be supported (if I checked this correctly)

[2016-10-09 19:20] mxtra opened #2 "No values from device"
I don't get any data from the device. When I try to get the values manually I only receive zeros:
`pi@raspberrypi:~ $ gatttool --device=C4:7C:8D:60:BC:F6 --char-read -a 0x35
Characteristic value/descriptor: 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00`

Any ideas why it is not working for me?

[2016-10-09 19:34] open-homeautomation commented on #2
That can happen if the sensor does not stick correctly in the ground or sometimes when the sensor can't read data. If this is always the case, the sensor might be defective.

[2016-10-10 07:16] mxtra commented on #2
The sensor shows reasonable values in the Flower Care App.

[2016-10-12 10:08] open-homeautomation commented on #2
You can try to stop the app on the smartphone. Unfortunately if your sensor just sends zeros, there is nothing I can do.

[2016-10-20 11:09] koen01 commented on #2
There seems to be a firmware update that changes the communication protocol for these things.
Rendering the miflora platform / miflora lib unusable

https://community.home-assistant.io/t/xiaomi-mi-plants-monitor-flower/3388/25

[2016-10-23 19:58] Benjamin3992 opened #3 "Cross plattform compatibility"
Would it be possible to use something like this: http://doc.qt.io/qt-5/qtbluetooth-le-overview.html to build an interface for only the BT communication to substitute the slightly annoying and not on windows avalible bluez libary?

[2016-10-24 06:42] open-homeautomation commented on #3
While this might be possible in general, I won't work on this. If somebody wants to work on this and wants to submit a patch, I will look into it.

[2016-10-31 12:40] #3 closed

[2016-11-02 19:55] Emeryth commented on #2
I have found out that you need to write 0xA01F to attribute handle 0x0033 to enable data reading.

I wrote down all my findings about the flora here:
https://wiki.hackerspace.pl/projects:xiaomi-flora

[2016-11-03 07:56] open-homeautomation commented on #2
Cool, thanks for this info. I will look into this in the next days and update the library.

[2016-11-15 21:39] julcollas commented on #1
Hi,
I don't know for the history but for battery level and firmware version seems to be in 0x38.
(cf https://github.com/LeonGaultier/fhem-XiaomiFlowerMonitor/blob/devel/74_XiaomiFlowerSens.pm#L297)

[code]

For version 2.6.6 you need to write in 0x33 before getting information (cf: https://github.com/LeonGaultier/fhem-XiaomiFlowerMonitor/blob/devel/74_XiaomiFlowerSens.pm#L278)

[2016-11-16 08:51] open-homeautomation commented on #1
@julcollas : Thanks, I will integrate this.

[2016-11-16 19:05] open-homeautomation commented on #1
This has been implemented now. Can you do a test with the latest version?

[2016-11-16 19:05] open-homeautomation commented on #2
This has been fixed now. Can you do a test with the latest version?

[2016-11-16 19:06] open-homeautomation commented on #2
Thanks to @Emeryth for  the research!

[2016-11-16 19:55] julcollas commented on #1
Seems ok for me . Thanks !

[2016-11-16 20:45] #1 closed

[2016-12-02 10:25] marksev1 opened #4 "Question"
Can I connect to multiple Miflora's with your library?
And put data from multiple Miflora's into a json.

[2016-12-02 10:27] usul27 commented on #4
Yes, you can use multiple sensors. You need to implement the JSON stuff by yourself, the library does not create any JSON objects.

[2016-12-02 10:27] #4 closed

[2016-12-02 10:27] #2 closed

[2016-12-02 10:29] marksev1 commented on #4
Can you just write an example on how to get sensor values from multiple devices at once etc.?

[2016-12-02 10:30] usul27 commented on #4
Just look at the demo.py file and look through all your sensors.

[2016-12-15 17:41] zsiti commented on #2
Firmware compatibility question: The Flower care app is now offering to update firmware on the device to version 2.7. I know that the latest (miflora-0.1.13.tar.gz) library is tested and working up to firmware 2.6.6. Can anyone confirm that functionality won't break after updating to firmware 2.7? Thanks Daniel for this awesome library!

[2016-12-16 01:33] supakdee commented on #2
Updated some of mine to version 2.7 and it's still working fine.

PS: Not all Mi Flora can be upgraded to version 2.7 --> Depended on manufacturing & delivery, it seems to be all different.

[2017-01-13 16:03] Tristan79 opened #7 "Soil fertility instead of conductivity, bug when using brand new sensors."
Question Uno:

Is the conductivity returned mislabeled?
Looking at another reader it uses soil fertility instead of conductivity...

https://github.com/marcelrv/miflora/blob/master/miflora.py

Question Lasto:

I got a lot of these sensors, and two of them gave these errors when brand new from the package...

[code]

After placing them in soil for some time, it appears to work fine...,  it only hap

[2017-01-17 07:26] tedstriker opened #8 "A few questions on the flower mate"
Hi there,

1. do you know, if pairing of the flower mate is possible? So only my devices can request status and not my neighbors.
2. How often are the sensor values updated? e.g If you poll twice within a minute, no changes are measured. Even if you water the plant in between.
3. Is something like "broadcast values" available? So paired devices (if possible) would be notified.

Thank you.

[2017-01-17 07:28] hifiberry commented on #8
There is no pairing, the sensor values are public.

Data is cached, the the init method:
def __init__(self, mac, cache_timeout=600, retries=3):

No notifications are implemented

[2017-01-17 07:29] open-homeautomation commented on #8
There is no pairing, the sensor values are public.

Data is cached, the the init method:
def init(self, mac, cache_timeout=600, retries=3):

No notifications are implemented

[2017-01-17 07:29] #8 closed

[2017-01-17 07:32] open-homeautomation commented on #7
"Fertility" is not a physical value, the sensor measured the conductivity of the soil.

New sensors do not provide values, therefore you get this exception.

[2017-01-17 07:32] #7 closed

[2017-02-02 13:16] Danielhiversen opened #11 "v0.1.15 missing from pypi"
Thanks for merging my pr and making a new release, but it seams that the latest release is missing from pypi

[2017-02-02 13:38] open-homeautomation commented on #11
It's online now.

[2017-02-02 13:38] #11 closed

[2017-02-04 00:19] rytilahti opened #12 "Invalid values are not being filtered out"
I received very wild values for all outputted information, luxes going over 60,000 and temperatures such as shown in the attached graph. The homeassistant component has a possibility to averaging based on multiple checks but it would make sense to filter out values like these in the library.

![miflora](https://cloud.githubusercontent.com/assets/3705853/22613304/8783c81e-ea77-11e6-9002-52b49e64224

[2017-02-04 01:52] Tristan79 commented on #12
I second that!

I experience that myself and another user on [domoticz](http://domoticz.com/forum/viewtopic.php?f=56&t=13306&hilit=miflora&start=60#p114149)
I already patched around it in my domoticz fork...

reading above 200 degrees celcius is just wrong... :-)

[code]

[2017-02-07 21:53] danielbh opened #13 "Do you know If you need to connect to the flora to get sensor data?"
I'm wondering if it's possible to get sensor readings from the advertisement on the flora without connecting. Do you know if this is possible? I'm getting a Flora soon and am unable to test it myself. Thanks for any help you could offer.

[2017-02-12 17:16] kireevco opened #14 "Getting No Route to host (113) when running homeassistant with miflora library."
Hi, I'm trying to reproduce this error, and here's what I've been able to do so far.
Please give me some hint of the direction to continue troubleshooting, if possible. Thanks.

[code]

It almost feels like there is some 'read mode' that is not enabled properly. But after scanning again I can query the data.

Any thoughts?

Cross bug filed to home-assistant until we understand the nature of the pr

[2017-02-13 07:37] open-homeautomation commented on #13
This isn't supported.

[2017-02-13 07:37] #13 closed

[2017-02-13 07:41] open-homeautomation commented on #12
Setting fixed limits seems to be a hack in my opinion. Setting a limit to 200 degree, 199 would still be ok. In some environments 40 degree celsius might never be realistic in others they are. I recommend to use a running median over 3 or 5 measurements to filter out outliers. This has been already  implemented in Home assistant and seems to be very robust.

[2017-02-13 07:45] open-homeautomation commented on #14
There might be another BLE operation already running. This can result in all kind of error messages on gatttool.

[2017-02-13 08:25] Tristan79 commented on #12
At over 200 degrees celsius the device probably will be destroyed and I would not be occupying that room. These are very incorrect HIGH value's. Levelling them out will not help... the are just incorrect and should be filtered out. And yeah it's a hack. That's why I second you fix it :-)

[2017-02-13 13:15] lclaverie commented on #12
Unfortunately I noticed these excessive values occures randomly and sometimes successively, so the median cannot be used to filter out that, maybe the 3 or 5 values would be wrong.
Actually I hacked the _parse_data func of the poller to limit temperature (100°c), humidity (100%)  or luminosity (10000 lux) (boiling brain/drowning head/blinding eyes) to refill the cache until it find correct values.

[2017-02-13 16:50] Tristan79 commented on #12
I cool, can you share you're code in a fork?

My domoticz version so far... with patch, running with 21 sensors at the moment in a range of 7 meters... :-) https://github.com/Tristan79/miflora/blob/master/domoticz.py#L44

[2017-02-14 10:24] Danielhiversen commented on #12
Could you test this data validation: https://github.com/open-homeautomation/miflora/pull/15  ?

[2017-02-18 17:55] JulienMalige opened #16 "Supported OS"
It seems that `gatttool` is not available on macOS (10.12).
Are you only supporting Linux ?

thanks for the job !

[2017-02-25 13:37] ionciubotaru opened #17 "ESP32"
Is it possible to port this interface to Arduino IDE for ESP32 ?
Do you plan this in the future ?

[2017-02-27 07:43] open-homeautomation commented on #17
While in general this might be possible if the ESP32 comes with a full-features Bluetooth stack, I have no plans to implement something like this in the near future.

[2017-02-27 07:43] #17 closed

[2017-02-27 07:44] open-homeautomation commented on #16
Yes, only Linux is supported or any other OS that comes with "gattool"

[2017-02-27 07:44] #16 closed

[2017-02-28 23:39] rytilahti commented on #12
This seems to work fine here since some time, thanks a bunch!

[2017-02-28 23:39] #12 closed

[2017-03-14 09:07] camfrout opened #18 "Beacon stops advertising when reading Mi Flora data"
Hi,

I am using a Raspberry Pi to read the data of the Mi Flora and it is working perfectly. I am now also trying to use the Raspberry Pi as an Beacon to monitor the presence of people in my house but I realised that whenever the Mi Flora data is read, my Raspberry Pi stops advertising and I have to run `sudo hciconfig hci0 leadv 0` again to be able to see my beacon.

Would it be a behavior of the

[2017-03-14 09:09] open-homeautomation commented on #18
Hi,

I don't think, both will work on the same BT device.

Daniel

[2017-03-14 09:10] #18 closed

[2017-03-16 14:51] AnderssonPeter opened #19 "Is this windows compatible?"
Is this windows compatible?
Or is it Linux only the documentation says **Define the bluetooth adapter to use (defaults to hci0). Run `hciconfig` to get a list of available adapters.** and `hciconfig` is a linux utility if i understand correctly?

So is this windows compatible or not? and if not is there any thing i can help with to make it Windows compatible?

[2017-03-16 14:56] open-homeautomation commented on #19
This works only on Linux.

[2017-03-16 14:56] #19 closed

[2017-03-16 16:39] AnderssonPeter commented on #19
@open-homeautomation if I understand the source correctly it just executes `gatttool --device={} --char-write-req -a {} -n {} --adapter={}` any chance you could post the expected output? That way I could try to write a simple windows app that does the same.

[2017-03-18 09:55] robmarkcole opened #20 "demo.py TimeoutExpired error"
When running demo.py

[code]

[2017-03-18 09:57] open-homeautomation commented on #20
Most likely you're using Python2. This library requires Python3.

[2017-03-18 10:51] robmarkcole opened #21 "read_ble() modification"
Hi, sorry this isn't really an issue, more a query. I am hacking read_ble() to query my Elgato Eve door and window sensor. i have a list of 150 handles which could return the state of the sensor. I am parsing the list using read_ble() and all goes well until the handle 0x3021 returns a NoneType. I assume you dealt with this when writing the script so wondering how to handle it? I am a bit mystifie

[2017-03-18 11:15] #21 closed

[2017-03-19 14:54] ChristianKuehnel opened #22 "Proposals for improvements"
After using miflora for a while I noticed some things that I was not happy with:
- Invalid measurements: you can check if you get bad data (AA BB CC DD...) from the sensor and then just ignore it or retry.
- If reading the data fails: try again a few times. The communication with the sensors is not 100% stable and retrying solves it most of the time.
- The temperature can be negative, here you hav

[2017-03-19 16:24] open-homeautomation commented on #22
Feel free to post a pull request with these improvements.

[2017-03-19 16:33] open-homeautomation commented on #22
I recommend to split these improvements into different pull requests to make them easier to read.

[2017-03-19 17:37] ChristianKuehnel commented on #22
Splitting does not make sense, as I had to rewrite the whole low-level communication. Pull request to follow.

[2017-03-19 17:37] #22 closed

[2017-03-25 04:32] flyingartichoke opened #24 "Pygatt for additional platforms"
Is there any chance of using pygatt as the BLE module so that both gatttool and BGAPI (i.e. linux and other computers with a BLED112 dongle) could be used to interface with the mi flora device?

[2017-03-30 09:40] AnderssonPeter opened #26 "Example output from gatttool?"
Could you give me a example of the output from `gatttool`?

[code]

[2017-03-31 11:21] AnderssonPeter commented on #19
@open-homeautomation I have success fully read the data from the `miflora` device under windows, now if i just could get a example of the data that you expect from `gatttool` i could make this windows 10 (Could be 8.0 and 8.1 also im unsure if they contain the correct apis) compatible...

[2017-04-07 11:08] AnderssonPeter commented on #26
If any one else ever need this here it is:
[code]

[2017-04-07 11:08] #26 closed

[2017-04-07 11:38] AnderssonPeter opened #28 "Make windows compatible"
I have written a small utility for windows that tries to mimic [gatttool](https://github.com/AnderssonPeter/Home-Assistant-Windows-Tools/releases) and it seems to work at least when i run it in a command line.
But when i try to run you python script on windows i get the following error:
[code]
If i understand correctly the `os.setsid` does not exist on windows and i have no idea what it does.
But

[2017-04-22 13:21] micksel opened #29 "ImportError: cannot import name TimeoutExpired"
I found my ID using : sudo hcitool lescan)
C4:7C:8D:62:0C:81 Flower care

I edit demo.py with this but when I run it I get the following errors:
I edit demo.py with this but when I run it I get the following errors:
pi@domo1 ~ $ sudo /usr/bin/python3 /home/pi/domoticz/scripts/python/miflora/demo.py
pi@domo1 ~/domoticz/scripts/python/miflora/miflora/tests $ /usr/bin/python3 /home/pi/domoticz/script

[2017-04-24 12:29] micksel commented on #29
Running Python3 on a Pi3 with raspbian/wheezy

[2017-04-24 12:29] micksel commented on #20
I'm getting the same error on Python3, Raspbian/wheezy

[2017-04-27 15:46] alandonegan opened #30 "Unable to install using NPM"
I am finding the following issue when trying to use NPM to install your library.

pi@raspberrypi:~/.node-red $ npm i https://github.com/open-homeautomation/miflora
npm ERR! addLocal Could not install /tmp/npm-3174-cbd0c9a8/git-cache-e9fd0e4fcfcf/3575b30e3b4e06d460a1088a8b96999dd328cbed
npm ERR! Linux 4.4.50-v7+
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "i" "https://github.com/open-homeautomat

[2017-04-27 15:51] open-homeautomation commented on #30
npm is a JavaScript package mager but this is a Python library. You can't use this with JavaScript.

[2017-04-27 15:51] #30 closed

[2017-05-13 10:30] jmtatsch commented on #14
My "No route to host (113)" issues were caused by another bluetooth device suddenly recognised after a dist-upgrade and taking the position of hci0.

[2017-06-02 12:21] AnderssonPeter commented on #28
It looks like `os.killpg` is also not available under windows.

[2017-06-26 19:44] bhaap commented on #24
would really like this aswell. as im using mac for my home assistant platform and would really like to use my mi floras in that.

[2017-07-17 23:20] kireevco commented on #14
@jmtatsch how were you able to localize this error? I'm still haveng same issue.

[2017-07-18 05:56] jmtatsch commented on #14
@kireevco I couldn't get a manual connection with hci0 anymore because my stray bluetooth adapter didn't support BLE. Thats when i realised that the device behind hci0 must have changed.

[2017-07-26 21:04] ThomDietrich opened #31 "Intended behavior upon connection error"
Hello,
how is the library supposed to catch and propagate a connection problem?

Heres a minimal example:

[code]

This piece of code will produce:

[code]

Other functions behave similarly. Shouldn't there be an exception thrown or a `cache_available` method or any other kind of error control mechanism?

[2017-08-04 12:02] ThomDietrich opened #34 "Project status and future development"
I'd like to ask if this project is still active.
A project of mine is dependent on this one and I would need the additions provided in the trivial PRs #32 and #33. Sadly there was no reaction over the course of one week. If this project is not actively maintained any longer, I would be forced to create a fork, not the path I want to go down. If the project is still active and you are e.g. enjoying

[2017-08-06 11:49] open-homeautomation commented on #34
This is a hobby project. While I will look into pull requests from time to time, I can't guarantee that I will do this within a few days.

[2017-08-06 11:49] #34 closed

[2017-09-30 11:27] dingausmwald opened #40 "Live data"
With the android app, theres the possibility to get live data from the sensor f.e. the moisture value every second. Guess ppl have to pair with the sensor to get the data. Will there be such functionality in the future?

[2017-10-10 21:02] ChristianKuehnel opened #41 "project stale?"
Dear maintainers,

I have the impression, that there is not much progress going on and that pull requests take quite long to get processed. Is that impression correct?

If so, what can we do about that? There are already some forks in place to work on new features.

Are you willing to take new maintainers?

br Christian

[2017-10-12 07:14] open-homeautomation commented on #41
Yes, I'm willing to add new maintainers. Are you interested?

[2017-10-12 07:59] ChristianKuehnel commented on #41
Yes, I'm interested, maybe also @ThomDietrich

[2017-10-12 11:11] ThomDietrich commented on #41
Definitely, that would be a great step for the community 👍 Thanks for the consideration!

[2017-10-12 20:57] ChristianKuehnel commented on #41
Thx!

[2017-10-12 20:58] #41 closed

[2017-10-12 21:02] ChristianKuehnel commented on #24
Habe a look at the proposal in https://github.com/open-homeautomation/miflora/pull/39
The idea is to support different Bluetooth backends for the different platforms. Once we agree on an architecture, feel free to add support for pygatt as well.

[2017-10-12 21:06] ChristianKuehnel commented on #40
I'm not sure if I understand you correctly, but you can already get the current measurements from the sensor. You just have to poll it.

What exactly is your user case? What do you want to achieve?

[2017-10-16 21:29] rytilahti commented on #40
I think the question is whether the sensor allows subscribing to bluetooth notifications to avoid polling the device, any ideas if that's possible?

[2017-10-17 09:32] dingausmwald commented on #40
No sorry. With the app it is possible to view f.e. the moisture level updated every second. But i think this is already possible if you don't disconnect from the sensor. Thought its a special function like reading the memory but i guess im wrong. Sorry for that

[2017-10-17 09:32] #40 closed

[2017-10-17 10:58] ThomDietrich opened #44 "Compatibility issues with new firmware version"
Heads up!

https://github.com/ThomDietrich/miflora-mqtt-daemon/issues/10

Apparently the firmware version 3.1.8 will break compatibility. I did not do any tests yet myself.

[2017-10-17 17:53] ChristianKuehnel commented on #40
The sensors do actually support a notification mode where the sensor sends updated readings every second (or so). So it should be possible to integrate this in the library. If you're willing to do the ugly part in scripting gatttool, I can probably figure out what commands you have to send the sensor.

I had this running as proof of concept with bluepy bit I threw it away as I did not end it then.

[2017-10-17 20:28] rytilahti commented on #40
I think it does not make sense to keep the connection alive forever (considering battery usage & bt dongle connection limits), but maybe that could be used to avoid problems such as encountered in homeassistant, which has been solved by taking a median from multiple measurements over time? something like "keep listening for notifications for X seconds, and get a median"?

[2017-10-17 20:44] ChristianKuehnel commented on #40
Monitoring blocks the BT dongle and you cannot do anything else while you're monitoring a single sensor. But that's the same as in the official App.

If you get bad readings, that's usually because the  "write magic word to sensor" step failed silently and the sensor returns nonsense data. These errors can filtered out quite easily, by checking the returned data for this string: https://github.com

[2017-10-17 21:08] ChristianKuehnel commented on #44
just upgraded one of my sensors with the "flower care" app and for me it's still working in demo.py:

[2017-10-17 21:16] rytilahti commented on #40
Ok, that sounds sensible. However, what would be the preferred way to avoid this, homeassitant uses `parameter_value()` to fetch each wanted type separately as can be seen here https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/sensor/miflora.py#L134 . Should the `parameter_value()` just return `None` in case the returned data seems invalid?

[2017-10-17 21:33] ThomDietrich commented on #44
Thanks for testing. I'll contact the original reporter of the issue.

[2017-10-17 21:33] #44 closed

[2017-10-18 06:32] ChristianKuehnel opened #46 "Improve test coverage of miflora_poller.py"
At the moment miflora_poller.py is not well tested. Please add more tests for this class. You probably need to extend the ```class MockBackend``` for that.

The goal is to have the main logic of the class properly tested

[2017-10-18 06:34] ChristianKuehnel opened #47 "Add pylint and flake8 to tox.ini and cleanup the code accordingly"
There is no real coding convention in place at the moment. It would be a good idea to add pylint and flake8 to the tox.ini and clean up the clode accordingly.

This might also mean that we need to costomize the coding conventions.

[2017-10-18 06:38] ChristianKuehnel opened #48 "Deal with invalid measurements reported from the sensor"
Sometimes the reading of the measurements fails and then the sensor returns ```INVALID_DATA = b'\xaa\xbb\xcc\xdd\xee\xff\x99\x88wf\x00\x00\x00\x00\x00\x00'```.

My guess is: this happens when this operation fails: ```connection.write_handle("0x33", "A01F"):```

We need someone to investigate the issue further and implement a solution that solves this this issue. My idea would be to retry reading t

[2017-10-18 06:41] ChristianKuehnel opened #49 "Deal with negative temperatures"
As temperatures can be negative (at least in some countries :wink: ), we need to implement a conversion of negative temperatures to float.

Tasks:
- figure out how negative temperatures are encoded (e.g. one's complement)
- implement a solution
- add tests for negative temperatures

[2017-10-18 06:45] ChristianKuehnel opened #50 "Implement backend for support BLED112 dongles"
As we now have the refactoring in place, we one of the frequent requests was to support BLED112 dongles via the pygatt library. As we now have the architecture to support different backends, it should not be difficult to add this. This needs to be implemented and tested.

:warning: You will need a matching Bluetooth dongle for this...

See also the discussion in https://github.com/open-homeautomat

[2017-10-18 06:48] ChristianKuehnel opened #51 "Implement support for Windows"
AFAIK this library does not really work on Windows at the moment as we do not support a Bluetooth backend that works on Windows. It would be nice to support windows as well

So that goal here is to implement a solution that can talk to some Bluetooth Library on Windows. If that does not exist, you might have to talk directly to the native Bluetooth API of Windows.

See also the discussion in https

[2017-10-18 06:52] ChristianKuehnel commented on #28
Honestly I'm not a big fan of porting gatttool to windows and wrapping it via stdin/stdout. I would prefer if we find a library that we can talk directly to like bluepy or pygatt.

But I'm not sure if such a library exists on Windows...

[2017-10-18 06:52] ydjain commented on #47
I am a newbie however I would like to work on this. Can somebody please assign me this issue??

[2017-10-18 06:55] ChristianKuehnel opened #52 "re-configure project in github to use TravisCI and Coverall"
In other projects all pull requests are automatically built by [TravisCI](https://travis-ci.org/), so that you immediately see if the project is still working and all the coding conventions were followed. It would be nice to also have that here. I already provided an initial ```.travis.yml```.

It would also be nice to have [Coveralls](https://coveralls.io/) report the code coverage of the tests.

[2017-10-18 06:57] namanshenoy commented on #49
Hey!

What are data[0] and data[1] in miflora/miflora_poller.py, def _parse_data?

[2017-10-18 06:58] ChristianKuehnel commented on #29
The ImportError indicates that python cannot find the TimeoutExpired error in the subprocess module. This should be part of every python installation...

I just tried to run the tests with Python 2.7 and I get the same error. Are you really sure that you're using Python3? Did you try ```python3 demo.py```?

[2017-10-18 07:05] ChristianKuehnel commented on #47
That was fast, I posted this just a few minutes ago! :smile:

@ydjain sorry, I seem to be unable to assign the issue to you in github, no idea why. Feel free to work on this any way.

If you need some hints on using pylint and flake8, you can have a look at the configuration beeing used in https://github.com/home-assistant/home-assistant/blob/dev/tox.ini

[2017-10-18 07:08] ChristianKuehnel commented on #49
Hey @namanshenoy,

That was fast :smile:

From my understanding these are 2 bytes that we receive from the sensor. They somehow contain the temperature measured by the sensor. I'm not fully sure how to decode these values properly.

I guess the best idea is to put the sensor in the freezer (<0°C), look at the values the app reports and then try to figure out how to decode negative temperatures bas

[2017-10-18 08:55] ThomDietrich commented on #47
Issues can only be assigned to team members. That's always a nuisance but don't worry. You've reserved the issue with your message. Happy to see others offering help!!

I think this issue is quite important and a good task for someone new. @ChristianKuehnel how do you feel about changing the line length to 120? I believe 80 is a relic from the old times and line-wraps are worse for comprehension t

[2017-10-18 08:57] ThomDietrich commented on #29
A very common mistake and there is no nice way to avoid it.

[2017-10-18 09:05] ThomDietrich opened #54 "New PyPI release, release automation"
Hey,

1. with the new backend and bluepy on the way, I'd suggest a new release soon.

2. Related to that PyPI deployment automation would be an option, see: https://docs.travis-ci.com/user/deployment/pypi/

[2017-10-18 09:21] hifiberry commented on #54
When the new release is tested, we can create a new PyPi version. I'm not a fan of automated deployment. I don't think we'll need to create releases very often. Therefore manual deployment by me shouldn't be a big deal.

[2017-10-18 09:21] open-homeautomation commented on #54
When the new release is tested, we can create a new PyPi version. I'm not a fan of automated deployment. I don't think we'll need to create releases very often. Therefore manual deployment by me shouldn't be a big deal.

[2017-10-18 10:06] ydjain commented on #47
I have created a PR for this issue...Have ignored all the warnings emitted by flake8
Max line length parameter has been ignored temporarily...Hope this closes the issue

[2017-10-18 10:23] ThomDietrich commented on #54
That's of course also an option!
Just to be sure, you saw that the deployment supports builds based on versioned tags, right?

[2017-10-18 10:25] open-homeautomation commented on #54
Not sure what you mean by "versioned tags".  Right now, version is hardcoded in setup.py

[2017-10-18 10:44] ThomDietrich commented on #54
https://docs.travis-ci.com/user/deployment/pypi/#Deploying-tags

Such a configuration would release a new build to PyPI automatically BUT only when you tag a certain commit as a new version (e.g. "0.2.0"). Probably what you want, just less manual work ;)

[2017-10-18 20:10] ChristianKuehnel commented on #47
Found your PR: https://github.com/open-homeautomation/miflora/pull/53 :smile:

Why did you disable the warnings? From my point of view the benefit of flake8 is to get these warnings so that we can improve the code.

Did you also have a look at pylint?

[2017-10-18 20:30] ChristianKuehnel commented on #47
@ThomDietrich yes, I agree 120 characters of line length would be a good idea for python code.

[2017-10-18 20:39] ChristianKuehnel commented on #14
@kireevco How far are your Bluetooth dongle and the Xiaomi sensor apart? I had the experience if the distance is larger than 5 meters or if there are obstacles in the way (concrete wall, furniture, TV, ...) there are quire frequent and unpredictable connection issues.

[2017-10-19 21:29] ChristianKuehnel commented on #47
@ydjain Thank you for PR with the tox configuration and the cleanup of the code! :+1: :smile:

Would you also be interested in fixing the issues reported by pylint?

[2017-10-19 21:35] ChristianKuehnel commented on #54
@ThomDietrich before releasing I would like to spend some more time on adding more tests: https://github.com/open-homeautomation/miflora/issues/46

We had quite a lot of changes in the last days and I would like to be a little bit more :wink: sure that I did not break anything...

Concerning the way we do releases:
I would also like to use the ```git tag``` feature to mark the versions as releases

[2017-10-19 21:36] ChristianKuehnel opened #56 "Fix Coveralls setup"
There is a Travis CI configuration for Coveralls but it does not yet collect any metrics. This should be fixed.

[2017-10-20 08:28] fuzzmz commented on #52
For the TravisCI you should just enable the project in their web interface, the same for Coveralls.io.

[2017-10-21 06:30] ChristianKuehnel commented on #52
Hey @open-homeautomation can you please do the steps proposed by @fuzzmz ? It seems that I do not have the permissions to do so...

[2017-10-21 06:32] ChristianKuehnel commented on #56
@fuzzmz
Both are enabled for my fork of the repository. Travis is working, but Coveralls does not show any data. Something must be still wrong in the configuration:
https://travis-ci.org/ChristianKuehnel/miflora
https://coveralls.io/github/ChristianKuehnel/miflora

Do you have any ideas on what the issue might be?

[2017-10-21 07:10] fuzzmz commented on #56
Thanks, will take a look at it.

On Oct 21, 2017 09:32, "ChristianKuehnel" <notifications@github.com> wrote:

@fuzzmz <https://github.com/fuzzmz>
Both are enabled for my fork of the repository. Travis is working, but
Coveralls does not show any data. Something must be still wrong in the
configuration:
https://travis-ci.org/ChristianKuehnel/miflora
https://coveralls.io/github/ChristianKuehnel/miflo

[2017-10-21 09:38] #46 closed

[2017-10-21 09:40] ChristianKuehnel commented on #48
I just looked at the code and added some unit tests. This should not be a problem any more. If this is still an issue, please create a new bug report

[2017-10-21 09:40] #48 closed

[2017-10-21 09:54] ChristianKuehnel commented on #54
I'm done with my tests, did not find any bugs --> I'm ready for a new release...

[2017-10-22 07:32] ydjain commented on #47
Sure...but I wont be able to address them until next week...will that be okay?
Sorry for the delay.

[2017-10-24 07:30] fuzzmz commented on #56
Work is a bit hectic so I'm not sure I'll be able to look into this any time soon, sorry.

[2017-10-25 18:31] ChristianKuehnel commented on #20
@robmarkcole
Do you still have the issue with the current master branch?

[2017-10-25 18:32] ChristianKuehnel commented on #20
is this a duplicate of https://github.com/open-homeautomation/miflora/issues/29 ?

[2017-10-25 20:35] Fedalto commented on #56
I can take a look into this

[2017-10-26 20:10] #56 closed

[2017-10-26 20:11] ChristianKuehnel commented on #52
Coveralls setup is now fixed (see https://github.com/open-homeautomation/miflora/issues/56). We're ready to enable TravisCI and Coveralls.

[2017-11-12 20:05] ChristianKuehnel commented on #52
@open-homeautomation can you please enable TravisCI and Coveralls? I do not have the permissions to do this on this repo...

[2017-11-17 20:54] ChristianKuehnel commented on #47
Hi @ydjain
are you still interested in fixing the remaining issues? If not I would have a look in the near future...

[2017-11-25 20:26] #49 closed

[2017-11-27 08:23] ChristianKuehnel commented on #20
should be fixed with https://github.com/open-homeautomation/miflora/pull/61

[2017-11-27 08:23] #20 closed

[2017-11-27 08:24] ChristianKuehnel commented on #29
Should be fixed with https://github.com/open-homeautomation/miflora/pull/61

[2017-11-27 08:24] #29 closed

[2017-11-27 08:26] ChristianKuehnel commented on #14
No progress since July --> closing it. If the  problem still exists, please re-open.

[2017-11-27 08:26] #14 closed

[2017-11-27 08:39] open-homeautomation commented on #52
TravisCI and coveralls have been enabled for this repository

[2017-11-27 08:41] open-homeautomation commented on #54
I've seen quite some changes in the last days. Are there any open issues that should be implemented in the next days? Otherwise I would create a new release soon.

[2017-11-27 09:47] ChristianKuehnel commented on #52
is working. thx.

[2017-11-27 09:47] #52 closed

[2017-11-27 10:33] ChristianKuehnel commented on #54
Hey @open-homeautomation,
I just implemented and merged the last things I had on my mind. I'm ready to release...

@ThomDietrich , do you have any changes in the pipeline?

[2017-11-27 12:50] ThomDietrich commented on #54
I would have liked to add the cache control functions ( #36 ) but my time is short currently and I can't promise to get them tested today or tomorrow. Hence I'd be okay to merge now.

[2017-11-27 12:57] open-homeautomation commented on #54
I'll wait until the weekend.

[2017-12-04 16:23] xavrr opened #67 "Support for historical data ?"
Hi there,
Thanks for this great work,
It seems like the sensors actually store historical data, any plans to support querying these ?

[2017-12-04 16:28] ThomDietrich commented on #67
Yes, in fact there is a by now conflicting PR including this feature, see: https://github.com/open-homeautomation/miflora/pull/27
I believe due to recent developments in this repository the PR was not addressed again till now but now would be a good time to fix the pull request and go forward merging it. @Happyzippy wdyt?

[2017-12-05 09:02] xavrr commented on #67
Thanks Thom, I'll have a look to it

[2017-12-06 09:21] open-homeautomation commented on #54
0.2 release has been created and uploaded to PyPi

[2017-12-06 09:21] #54 closed

[2017-12-06 11:33] ThomDietrich commented on #54
Thanks @usul27!
I've taken the chance and sorted out the project tags: https://github.com/open-homeautomation/miflora/releases

[2017-12-09 20:25] adrianmihalko opened #69 "AttributeError: 'Namespace' object has no attribute 'func'"
I am trying to run demo.py, but I get error:

[code]

[2017-12-09 20:35] zsiti commented on #69
Hi @adrianmihalko! You need to use the poll command, and append the MAC address of the Bluetooth interface of your sensor, like this: pi@pi3pimatic:~ $ /home/pi/miflora/demo.py --backend gatttool poll C4:7C:8D:61:57:A0

[2017-12-09 20:39] adrianmihalko commented on #69
Superb:

Getting data from Mi Flora
FW: 2.7.0
Name: Flower care
Temperature: 19.8
Moisture: 7
Light: 104
Conductivity: 2
Battery: 100

Now I need to modify code to make it work with Domoticz.

---

Oh, and I just realised that it's you. ✋ Thanks mate! :)

[2017-12-09 20:39] #69 closed

[2017-12-10 14:27] ThomDietrich commented on #69
@adrianmihalko not sure about Domoticz but if you have MQTT, consider: https://github.com/ThomDietrich/miflora-mqtt-daemon

[2017-12-10 14:31] adrianmihalko commented on #69
@ThomDietrich I already did it, nothing complicated:

https://gist.github.com/adrianmihalko/6e115ad442fa89a2cb4c529a1a15cddc

[2017-12-11 14:41] jongerenchaos opened #71 "Support for -1 degrees and lower"
I use this mi flora product outside. But when the temperature is under the 0 degrees the software gives a reading error. I think this product measure also lower than 0 degrees... Can anybody resolve this?

[2017-12-11 14:59] ChristianKuehnel commented on #71
Hi @jongerenchaos ,

this issues should have been fixed with version 0.2.0 we released a few days ago. Can you please check with the new version?

[2017-12-11 15:47] jongerenchaos commented on #71
Thanks!

For now it won't work with this domoticz file: https://github.com/Tristan79/miflora/blob/master/domoticz.py

[2017-12-11 16:09] ChristianKuehnel commented on #71
Which version of miflora are you using?

[code]

[2017-12-27 20:10] ChristianKuehnel commented on #47
I just fixed the pylint warnings: https://github.com/open-homeautomation/miflora/pull/74

[2017-12-27 20:10] #47 closed

[2017-12-29 14:33] ChristianKuehnel commented on #50
Done in PR #75

[2017-12-29 14:33] #50 closed

[2017-12-29 14:39] ChristianKuehnel commented on #24
Done in #75

[2017-12-29 14:39] #24 closed

[2017-12-29 14:40] ChristianKuehnel commented on #28
duplicate of #51

[2017-12-29 14:40] #28 closed

[2017-12-29 14:41] ChristianKuehnel commented on #51
There is an implementation using pygatt see #75. I'm not sure if this makes all Windows users happy, but it's a start :wink:

[2018-01-07 02:25] ahmadihamid commented on #7
If we use android apps conductivity information "converted" to fertility, don't know the standard tho..
do you have it?
It would be nice if we could convert it too

[2018-01-07 19:39] ChristianKuehnel commented on #7
@ahmadihamid
This looks like a new question, please open a new issue. And can you be a bit more specific in the new issue:
* What you mean with "android apps conductivity information". Can you give an example? Screenshot?
* Convert what to what?
* Why do you want to convert something?

The Xiaomi sensor delivers the conductivity in µS/cm as raw data. This is what the library outputs at the moment.

[2018-01-07 20:24] ahmadihamid commented on #7
I think it's the same question..
The apps I mean is https://play.google.com/store/apps/details?id=com.huahuacaocao.flowercare
It interpret conductivity as fertility by some range of conductivity level
let's say x-y µS/cm
Below x is less fertile
Above y is over fertilized

![screenshot_20180108-030746](https://user-images.githubusercontent.com/10917804/34653757-3b9d15c0-f423-11e7-86b7-ae4df9a232a9.

[2018-01-07 20:31] ChristianKuehnel commented on #7
Yes this is the same value you're getting via the "conductivity" value from the miflora library. You can directly take the min/max values from the app and check these with the library. The home assistant component [plant](https://home-assistant.io/components/plant/) does exactly that.

If it's about the wording conductivity vs. fertility:
What the sensor measures really is the electrical conductiv

[2018-01-07 21:05] ahmadihamid commented on #7
Hmm..
I'm not sure if I can get that value within the flowercare app. And I don't think it is fixed value like home assistant lib. But maybe I'm wrong. Thanks for poin me the lib, can't find it by myself before.

Yap I'm aware of it, I'm a chemist and maybe overthught it.

[2018-01-13 09:50] ChristianKuehnel opened #76 "Coveralls - disable comments"
Hey @open-homeautomation,

can you please set "LEAVE COMMENTS?" in the coveralls configuration to disabled? This way we can avoid the many ugly postings on pull requests: https://github.com/open-homeautomation/miflora/pull/73#issuecomment-356722372

[2018-01-13 10:30] ChristianKuehnel commented on #71
no reaction for 1 month -> closing issue

[2018-01-13 10:30] #71 closed

[2018-01-18 21:43] Redferne opened #79 "Exception in Home Assistant"
Hi,

Some of my MiFloras are slow to respond or out of range. Getting many of these in the log:
[code]

Are there some way of handling these?

[2018-01-20 17:01] ChristianKuehnel commented on #79
Hi @Redferne,

thank you for the hint. I'm not checking for None as input data. This is fixed in https://github.com/open-homeautomation/miflora/pull/80

[2018-01-20 17:01] #79 closed

[2018-01-20 17:02] ChristianKuehnel commented on #67
Implemented here: https://github.com/open-homeautomation/miflora/pull/78

[2018-01-20 17:02] #67 closed

[2018-01-20 17:14] ChristianKuehnel commented on #31
Problem was already solved some time ago...

[2018-01-20 17:14] #31 closed

[2018-01-29 03:19] datoutie opened #82 "I'm thinking if you can write another one supporting for the Mi BLE Temperature and Humidity Sensor"
website:  https://www.mi.com/mj-humiture/
Thanks.

[2018-01-29 07:13] ChristianKuehnel commented on #82
I haven't seen one of those sensors, yet. But I guess if there is an app, we can probably also reverse engineer the protocol. If you can send me such a sensor I'll give it a try.

[2018-01-29 21:52] ChristianKuehnel opened #83 "create new release"
Can you please create a new release?

This issue is annoying the users and was fixed already: https://github.com/open-homeautomation/miflora/pull/80

bug reports:
* https://github.com/open-homeautomation/miflora/issues/79
* https://github.com/home-assistant/home-assistant/issues/9048#issuecomment-361377672

[2018-01-30 22:31] ChristianKuehnel opened #84 "Exception handling broken"
After investigating https://github.com/home-assistant/home-assistant/issues/9048#issuecomment-361377672 I noticed, that the exception handling is broken.

What should happen in case of an exception in the Bluetooth communication:
All exceptions from the different backends are wrapped in BluetoothBackendException.

Current situation:
Each Bluetooth backend raises different types of exceptions, depe

[2018-01-30 22:33] ChristianKuehnel commented on #83
please wait with the release, there is still one bug open: https://github.com/open-homeautomation/miflora/issues/84

[2018-02-01 09:56] fanthos commented on #82
I had some research on the sensor. Using `OpenMQTTGateway` on my ESP32, and found that the new sensor using the same tech with flora sensor, but different data format.

[2018-02-03 10:41] #84 closed

[2018-02-03 10:42] ChristianKuehnel commented on #83
OK, the fixes are in (was more than one root cause...): #85 please create a new release now. I already incremented the version number, so that I could use it in Home Assistant...

[2018-02-08 21:14] ChristianKuehnel commented on #83
@open-homeautomation
Home Assistant declined to use my private branch. So we need a new release of the library, so that we get the bug fixed for the Home Assistant users...

[2018-02-09 09:33] hifiberry commented on #83
I will create a new release soon.

[2018-02-09 09:42] open-homeautomation commented on #83
Version 0.3 is now uploaded to PyPi

[2018-02-09 09:42] #83 closed

[2018-02-09 09:49] open-homeautomation commented on #76
I can't find this setting in coveralls (I don't see any settings at all in coveralls). Can you tell me where this is?

[2018-02-09 11:44] ChristianKuehnel commented on #83
thx!

[2018-02-14 19:38] ChristianKuehnel commented on #76
It took me some time to find:
1. go to coveralls
2. on the left, from the menu, select "repos"
3. the pick the repo you want to change
4. on the left select settings
5. then you can disable "leave comment"

[2018-02-26 21:19] lionhe1966 opened #87 "When Temperature is below zero very high values are returned (<6553.5)"
During these cold nights my sensor measure temperatures below zero. The MiFlora App gives the right temperature, while the miflora MQTT-daemon which is based on miflora returns
{"conductivity": 1397, "moisture": 35, "temperature": 6553.5, "light": 66, "battery": 98}

This is clearly due to the fact that the temperature is a SIGNED integer while the Miflora-daemon interprets it as an UNSIGNED integ

[2018-02-26 22:38] ChristianKuehnel commented on #87
This issue should have been fixed for some time. Please update to the latest version of miflora.

[2018-02-28 18:54] RoyTrenneman opened #88 "When Lux is > 32768, returned value is negative"
I changed the unpack data in miflora_poller.py, it seems work fine:

     def _parse_data(self):
     """Parses the byte array returned by the sensor.

     The sensor returns 16 bytes in total. It's unclear what the meaning of these bytes
     is beyond what is decoded in this method.

     semantics of the data (in little endian encoding):
     bytes 0-1: temperature in 0.1 °C
     byte 2: unkno

[2018-02-28 22:40] ChristianKuehnel commented on #82
I think it does not make sense to add this to the miflora library, as it's a different protocol and a different device.

What might make sense is to share the BluetoothBackend wrappers, as you might also need that for this sensor...

[2018-02-28 22:40] #82 closed

[2018-02-28 22:40] ChristianKuehnel commented on #88
Hi @RoyTrenneman,

thx for finding that bug. The same is probably true for the conductivity. That should also be unsigned.

Have you ever seen brightness values > 65536 lux? So might is be 3 bytes of data, instead of 2 bytes?

I'll fix that in the next days...

[2018-02-28 22:47] sandrisj commented on #82
You can use esp32 for this particular device. See here: https://www.youtube.com/watch?v=gyZjGOgDIRU

[2018-03-01 09:02] RoyTrenneman commented on #88
Hi ChristianKuehnel,

For conductivity, I am not sure that the value can be > 32768, but I will test that by putting the sensor in water...

You meant instead of 4 bytes ?
For lux value, I've never seen values > 65536 lux, but I don't know how to unpack only 3 bytes??

[2018-03-03 09:46] ChristianKuehnel commented on #88
I've looked at a few samples from my machine and you're probably right: the brightness is 4 bytes instead of 2 --> I created a PR with the patch

[2018-03-03 09:46] #88 closed

[2018-03-04 08:40] RoyTrenneman commented on #88
Hi,
Yesterday was sunny, I saw a high lux value, ~77000

[2018-03-10 15:18] #87 closed

[2018-03-28 18:47] immortalserg opened #92 "Does not receive data or receives inaccurate data, a session break before data is received."
The problem is that when a query from the address 0x0035 where the readings are to be issued, either zero readings are given, or here are the readings: "aa bb cc dd ee ff 99 88 77 66 00 00 00 00 00 00"
This is due to the fact that the device does not know that it needs to give the readings in order to obtain data on the temperature readings, humidity, etc. it is necessary that at the address 0x003

[2018-03-28 21:12] immortalserg commented on #2
The problem is that when a query from the address 0x0035 where the readings are to be issued, either zero readings are given, or here are the readings: "aa bb cc dd ee ff 99 88 77 66 00 00 00 00 00 00"
This is due to the fact that the device does not know that it needs to give the readings in order to obtain data on the temperature readings, humidity, etc. it is necessary that at the address 0x003

[2018-04-01 11:40] ChristianKuehnel commented on #92
Hey @immortalserg ,

char-write-req 0x0033 A01F
char-read-hnd 35
and you get the correct data from the sensors.

This is exactly what the library is doing. I have no idea why that fails in your case. Did you try with the `bluepy` backend? In my experience this is much more reliable that gatttool...

Which version of `miflora` are you using?

[2018-04-16 10:26] muhkuhgh opened #93 "Wrong negative Light Value above specific threshold"
I don't know the exact treshold but the light value turns negative above a specific value..

11000 ok
22000 ok
33000 ok

-2461 when it really is 112k.something e.g.

In C I would say it's an overflow cause maybe the unsigned 16bit unsigned int ends here or something.. but there are no variable types in python, or? I couldn't find the cause looking in the code on my own :(

Actually I didn't get th

[2018-04-16 11:27] ChristianKuehnel commented on #93
Which version of miflora are you using?

[2018-04-16 11:29] muhkuhgh commented on #93
Afaik miflora lib v0.3

[2018-04-16 19:03] ChristianKuehnel opened #95 "create new release"
Hey @open-homeautomation ,

1. Please review&merge this PR: https://github.com/open-homeautomation/miflora/pull/94. It fixes a bug with high brightness values: https://github.com/open-homeautomation/miflora/issues/93
1. Can you please tag the version 0.3 in git? There is a release on [pypi](https://pypi.org/project/miflora/), but no [tag](https://github.com/open-homeautomation/miflora/tags) on git

[2018-04-16 19:05] ChristianKuehnel commented on #93
Ah yes, the bugfix for the high brightness values was not yet released. I just requested a new release (ses #95)

The fix is already merged to master: https://github.com/open-homeautomation/miflora/commit/d7a69d81f4391a9f522c5053dce6519e2aa354be

[2018-04-16 20:48] ChristianKuehnel commented on #92
I just saw you're using the gatttool backend. Please try again with the bluepy backend. That proved to be much more reliable than the gatttool...

[2018-04-17 07:33] open-homeautomation commented on #76
This has been changed.

[2018-04-17 07:33] #76 closed

[2018-04-17 12:18] open-homeautomation commented on #95
New v0.4 release has been created and published to pypi.org

[2018-04-17 16:47] muhkuhgh commented on #93
I'm just too dumb/new to get this working.. miflora-mqtt-daemon worked fine.. changed it to upload data via post to php/mysql..

Now I upgraded miflora to 0.4 and get this error in miflora-mqtt-daemon :;(
`Traceback (most recent call last):
  File "miflora-mqtt-daemon/miflora-mqtt-daemon.py", line 18, in <module>
    from miflora.backends.gatttool import GatttoolBackend
ImportError: No module name

[2018-04-19 19:47] ChristianKuehnel commented on #93
Hi @muhkuhgh,

as the API has changed, you need to change the miflora-mqtt-daemon a bit. You can see `demo.py` for the new import statements for the different backends.

[2018-04-19 19:55] ChristianKuehnel commented on #95
Thx for the release!

Yet the markdown does not seem to be rendered correctly :(
https://pypi.org/project/miflora/

I'll have a look in the next days to figure out, how to fix that. In theory the new pypi should also support Markdown descriptions:
https://stackoverflow.com/questions/26737222/pypi-description-markdown-doesnt-work

[2018-04-19 19:55] #95 closed

[2018-04-19 19:55] ChristianKuehnel opened #97 "fix markdown description on pypi"
If should work:
https://stackoverflow.com/questions/26737222/pypi-description-markdown-doesnt-work

But doesn't:
https://pypi.org/project/miflora/

[2018-04-20 14:27] muhkuhgh commented on #93
Thanks for pointing it out! Working just fine now after just changing
from miflora import Gatt...end
to
from btlewrap import available_backends, BluepyBackend, GatttoolBackend, PygattBackend

[2018-04-20 14:27] #93 closed

[2018-04-21 10:32] adrianmihalko opened #98 "Poll error"
Sometimes I get error like:

[code]

Then I run again and it's polling fine. What causes this?

[2018-04-24 10:59] JoanMCD opened #99 "Exit if no data because of sensor not in range"
Hello, I use ver 0.4 with miflora-mqtt-daemon from ThomDietrich.
If a miFlora sensor is out of range I get a error in the miflora-mqtt-daemon.py -> miflora_poller.py -> gatttool.py

I don't can find out where exact is the problem, but I suppose it's in the backend support.
Because python is not my primary language maybe someone can see the problem !?

[code]

[2018-04-24 14:48] ThomDietrich commented on #99
An exception is thrown, hence I'd say this issue is not a problem with the library and we should solve it in https://github.com/ThomDietrich/miflora-mqtt-daemon/issues/39

As I said, PRs welcome!

[2018-04-24 14:48] #99 closed

[2018-04-24 20:06] bern6666 opened #100 "miflora.backends"
I pip-installed v0.4. When importing
from miflora.backends.gatttool import GatttoolBackend
I got an error:
ImportError: No module named 'miflora.backends'

[2018-04-25 14:56] GoestaO commented on #100
`from btlewrap.gatttool import GatttoolBackend` will do it.

[2018-04-26 15:50] Jochen723 opened #102 "No module named 'btlewrap'"
I get the following error:

/home/pi/miflora/demo.py --backend gatttool poll C4:7C:8D:61:57:A0
Traceback (most recent call last):
  File "/home/pi/miflora/demo.py", line 9, in <module>
    from btlewrap import available_backends, BluepyBackend, GatttoolBackend, PygattBackend
ImportError: No module named 'btlewrap'

[2018-04-26 17:55] ChristianKuehnel commented on #102
the latest version of miflora depends on the btlewrap library. If you install miflora via pip (which is the recommended way), pip will also install this dependency for you. I just added this to the documentation:
https://github.com/open-homeautomation/miflora/blob/master/README.md#dependencies

[2018-04-26 18:03] ChristianKuehnel commented on #98
Hi @adrianmihalko ,

It could be one of several reasons:
* The radio connection between your Bluetooth dongle and the sensor is quite bad and it sometimes fails. Bluetooth LE is not meant to be used over longer distances. My recommendation is: The distance between Bluetooth dongle should be less than 5 meters. IF you have a wall or other objects (e.g. furniture) in the line of sight, it's probably

[2018-04-26 18:06] #98 closed

[2018-05-01 16:26] BerraKode opened #105 "Failed to connect to peripheral"
Hello
I have a raspberry pi 3 Im trying to control the miflora with. I can't get the connection to work though.

I get the following error:

**Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-packages/btlewrap/bluepy.py", line 26, in _func_wrapper
    return func(*args, **kwargs)
  File "/usr/local/lib/python3.4/dist-packages/btlewrap/bluepy.py", line 55, in connect
    sel

[2018-05-01 18:25] #105 closed

[2018-05-02 18:33] ChristianKuehnel commented on #105
Hi @BerraKode,

Altough  your problem is already fixed: Is there anything we can add to the documentation to make it easier to use the library on the RasPi3? Any hints we should give to other users of the library?

[2018-05-02 19:16] BerraKode commented on #105
No it’s good my bluetooth was messed up :)

On 2 May 2018, at 20:33, ChristianKuehnel <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @BerraKode<https://github.com/BerraKode>,

Altough your problem is already fixed: Is there anything we can add to the documentation to make it easier to use the library on the RasPi3? Any hints we should give to other users of the library?

—

[2018-05-09 01:26] rlmalisz opened #106 "The retries parameter does not seem to have any effect for MifloraPoller"
I'm working on code derived from Thomas Dietrich's MQTT Milora daemon.  I'm finding that when a flower care sensor is out of range, fill_cache() seems to take close to 2 minutes to timeout.  My expectation would have been that dropping "retries" from 3 to 2 or 1 would have changed this, but it doesn't seem to.  Is it possible that the linkage of this parameter down to the eventual code in the gatt

[2018-05-16 19:49] ChristianKuehnel commented on #106
Yes, you're right. Feel free to create a pull request for this change.

I would also recommend using the bluepy back-end instead of gatttool. This is MUCH faster and more stable.

The retry-parameter is currently only implemented for the gatttool back-end and not the others. So this needs to be added to the btlewrap library: https://github.com/ChristianKuehnel/btlewrap/issues/2

[2018-05-18 21:19] rlmalisz commented on #106
Done.  Although we may want to pass along the timeout param as well...personally I don’t require it.

[2018-06-10 17:46] frittes opened #110 "Support for Xiaomi Ropot"
It would be nice to have support for Xiaomi Ropot.

[2018-06-10 19:07] ChristianKuehnel commented on #110
Any case anyone wonders: This is a flower pot with integrated sensor:
https://de.aliexpress.com/item/Original-Xiaomi-Mijia-Smart-Flower-Pot-Flora-Ropot-Monitor-Waterproof-Intelligent-Detection-Pots-Plants-Grass-Soil/32818376348.html

@frittes Did you find any reverse-engineering on the web for this? We need someone with such a device to figure how to read the data from it...

[2018-06-15 17:57] tpaulin commented on #110
Hi,

According to this project:

https://github.com/WeeJeWel/com.mi.flora/blob/master/drivers/ropot/device.js
https://github.com/WeeJeWel/com.mi.flora/blob/master/drivers/flora/device.js

the data is stored in almost the same way and in the same location (excluding light intensity ofc.)

Only problem is that the Ropot seems to return 24 bytes versus the Flora's 16, so the current implementation ra

[2018-07-02 12:12] chrostek commented on #110
https://github.com/open-homeautomation/miflora/pull/111

[2018-07-27 11:54] lboue opened #112 ""Failed to execute mgmt cmd '%s'" % (cmd)) bluepy.btle.BTLEException: Failed to execute mgmt cmd 'le on'"
Hello,

I am facing an issue when I run the demo.py file. Could you help me to find what is wrong?

### Error message:
[code]

### Step to reproduced:
[code]

If I give the mac address to poll then it works:
[code]

**hcitool scanning:**
Scanning is working with the **hcitool** tool so it must be a miflora/bluepy issue:
[code]

Regards,
Ludovic

[2018-07-30 05:14] schmidiij opened #113 "Home Assistant - "Unknow" States"
we have found that with Hassio (Home Assistant) 0.73+ the sensor has the states "unknow"
i use a Raspberry Pi and the Docker Bluethoot BCM43xx (ResinOS) Addon. Any other bluethoot device work

[our "troubleshooting"](https://community.home-assistant.io/t/mi-flora-plant-sensor/29741/83?u=schmidij_ch)

[2018-08-08 14:33] shadi1989 opened #114 "Patched: Error reading value"
Does anyone have a clue how to solve this?

[code]

[2018-08-09 11:46] ChristianKuehnel opened #115 "Uprade code to work with pylint 2.1"
It seems there were some changes with the latest pylintn version. So we probably need to change a few things to make the code pass with pylint 2.1.

To do the change:
1. set pylint==2.1.1 in requirements-test.txt
2. run tox -e pylint -r

Fix the problems that arise there.

[2018-08-09 14:40] ChristianKuehnel commented on #114
Not really. I've never seen this error message. Can you provide a stack trace of this error?

[2018-08-09 16:48] shadi1989 commented on #114
What info do you need? The lines in the post above are the only ones i see on screen.

[2018-08-20 18:52] ChristianKuehnel commented on #92
old issue --> closing it

[2018-08-20 18:52] #92 closed

[2018-08-20 18:53] ChristianKuehnel commented on #100
old issue --> closing it

[2018-08-20 18:53] #100 closed

[2018-08-20 18:53] ChristianKuehnel commented on #102
old issue --> closing it

[2018-08-20 18:53] #102 closed

[2018-08-20 18:54] ChristianKuehnel commented on #106
see comment in you PR: https://github.com/open-homeautomation/miflora/pull/108

[2018-08-20 18:54] #106 closed

[2018-08-20 18:56] ChristianKuehnel commented on #112
Sorry I have NOT seen this error before:
```bluepy.btle.BTLEException: Failed to execute mgmt cmd 'le on'```

It looks to me like a problem with your bluetooth hardware. Maybe you could try with the gatttool backend. It's much slower but relies on a different bluetooth implementation...

[2018-08-20 19:01] ChristianKuehnel commented on #113
Is this issue still open? From reading the forum, I'm not sure. The thread contains a lot of parallel discussions and I'm not sure which one you're refering to...

Do you have an error message for analysis?

[2018-08-20 19:02] ChristianKuehnel commented on #114
Which source code are you running? Where does this domoticz.py come from?
Can you increase the log level of the output somehow? (I'm not familiar with domoticz)

[2018-08-20 19:03] Schmidij commented on #113
with HassOS 1.9 (without BCM43xx (ResinOS) Addon - not nessesery) it's works :-)

[2018-08-20 19:04] ChristianKuehnel opened #117 "create new release"
@open-homeautomation can you please create a new release?

We fixed a bug for some users:
https://github.com/zewelor/bt-mqtt-gateway/issues/14

[2018-08-20 19:19] shadi1989 commented on #114
I followed a tutorial which is located here: http://www.fam-oldenburger.nl/2017/09/06/plantensensor/
It's in Dutch but google translate can translate it to English :)

It does a git clone from https://github.com/Tristan79/miflora.git

[2018-08-20 20:13] ChristianKuehnel commented on #114
looking at the code there: This seems to be a branch of a very old miflora implementation and is not supported any more. Please ask the owner of the repository to upgrade to the current version and use the current version from pypi instead of creating a copy..

[2018-08-20 20:13] #114 closed

[2018-08-20 20:13] ChristianKuehnel commented on #113
ok, thx --> closing the ticket.

[2018-08-20 20:13] #113 closed

[2018-08-26 11:28] shadi1989 commented on #114
@ChristianKuehnel thanks for the info.

I've now downloaded the MiFlora 0.4 from this github page and placed it in my Domoticz/scripts/python/ folder
Copied the Domoticz.py from the repo above and changed the following:

from miflora.miflora_poller import MiFloraPoller, \
   MI_CONDUCTIVITY, MI_MOISTURE, MI_LIGHT, MI_TEMPERATURE, MI_BATTERY
to:
from miflora.miflora_poller import MiFloraPoller
from

[2019-01-09 18:34] GAZ082 opened #119 "How does the misture sensor work?"
Hey there. I've been trying to get info about this regards in several forums/pages and could not find any. Perhaps you guys will be able. In theory the value is in % (as commented in the code) but i did a simple test of putting the sensor in a glass of water and then drying it out with some paper towel.

The value i got under the glass of water is 70 and after well dried, 20. How is this supposed

[2019-01-10 10:02] ChristianKuehnel commented on #119
The electrical conductivity of tap water is probably not so good. If you
add a bit of salt (or fertilizer) you should probably get different values.
And my sensor does reports zero moisture if you just put it on the table.

However, I don't really care about the specifics. What I do is for my
plants: I defined a minimum moisture level per plant (between 15% an 30%,
depending on the plant) and I'm

[2019-01-10 13:38] GAZ082 commented on #119
Thanks Christian! I'll do more rigorous testing, with salty water and will get a container and put some something to dry out the air inside it. Perhaps my ambient moisture is too high, dont know.

[2019-01-10 14:09] ThomDietrich commented on #119
If you want to benchmark the sensor readings, pure water (or with salt) won't tell you as much. The sensor was probably never developed for this, therefore the reading is not meaningful. I second the opinion that relative changes should be more meaningful for you/the user.

If you want to get a better feeling for the value range, how about a measurement in dry (i.e. fresh) soil and in soaked soil.

[2019-01-10 16:27] GAZ082 commented on #119
Yes, that's actually how i'm working now, normalizing in the 20-70 scale I got with "synthetic" benchmarks. What i'll do is redo the scale with desert-dry and flood-moisted soil and see how it works.

Thanks a lot!

[2019-01-10 21:34] ThomDietrich commented on #119
I'm not sure about the real value of those measurements but I'd sure be interested in your results!

[2019-01-13 13:26] kenand1970 opened #120 "SyntaxError: Non-ASCII character '\xc2' in file domoticz.py on line 69"
I receive error message

SyntaxError: Non-ASCII character '\xc2' in file domoticz.py on line 69

I put # coding: utf8  to first line to domoticz.py but did not help.

[2019-01-15 08:49] ChristianKuehnel commented on #120
By looking at the error message the problem seems to be in the file
domoticz.py

This file is not provided by miflora. Please contact someone who is working
on that file...

Am So., 13. Jan. 2019, 14:26 hat kenand1970 <notifications@github.com>
geschrieben:

[2019-01-22 07:41] Kernald opened #121 "Gatttool is deprecated"
While it's still available on most distributions, [gatttool has been officially deprecated by the BlueZ team two years ago](https://git.kernel.org/pub/scm/bluetooth/bluez.git/commit/?id=b1eb2c4cd057624312e0412f6c4be000f7fc3617). Is there any plan to migrate to something else?

[2019-01-22 09:42] ThomDietrich commented on #121
There are already other backends to choose from: https://github.com/open-homeautomation/miflora#backends
Fair point: The README could point out the deprecat'iveness of the gatttool backend. Feel free to add a PR discouraging the use of it.

[2019-02-18 09:33] ChristianKuehnel commented on #117
@open-homeautomation just fixed another bug, once this PR is merged:
https://github.com/open-homeautomation/miflora/pull/123

Please create a new release...

[2019-02-18 15:53] tomascrespo opened #124 "Getting historical data"
Is it possible to get not only the current data of the Mi_flora but the **historical data**?

[2019-02-18 15:54] #124 closed

[2019-02-22 02:38] thiagobucca opened #125 "Miflora Chinese Version"
Hi, i recently got a couple Chinese sensors (green shell) and they doens't seem to work with Home Assistant, that is true? Is there some way i can debug the poller to see what is wrong? I have 4 sensors (2 International and 2 Chinese) and only the international works with HA, maybe the Chinese one has different codes that has to be implemented no the script to support it?

[2019-02-22 14:28] ChristianKuehnel commented on #125
I have one of the green ones as well and they seem to work fine.

You can try running the `demo.py` from the root directory of this repository to check the communication between your PC and the sensor.

[2019-02-22 15:01] open-homeautomation commented on #117
Uploaded 0.5 to pypi

[2019-02-22 15:01] #117 closed

[2019-03-13 10:16] Diluxshan commented on #102
I have the same error.
/home/pi/miflora/demo.py --backend gatttool poll C4:7C:8D:61:57:A0
Traceback (most recent call last):
File "/home/pi/miflora/demo.py", line 9, in
from btlewrap import available_backends, BluepyBackend, GatttoolBackend, PygattBackend
ImportError: No module named 'btlewrap'

please guide, for import btlewrap file

[2019-03-14 16:41] ChristianKuehnel commented on #102
did you try the solution above?

[2019-03-15 07:15] Diluxshan commented on #102
yes, I try that... But still, I have a different error.

usage: demo.py poll [-h] mac
demo.py poll: error: the following arguments are required: mac

[2019-03-18 01:22] thiagobucca commented on #125
Seems like it was something wrong with my setup, after a clean 0.89.2v install everything worked fine again. Thanks anyway :)

[2019-03-18 01:22] #125 closed

[2019-03-27 00:08] CodeFinder2 opened #126 "Exception "Could not read data from Mi Flora sensor" (FW: 2.6.5)"
Hi,

first of all: great library! Thanks! Unfortunately, I am getting the error
[code]

Versions:
Python v3.5.2
miflora v0.5
btlewrap v0.0.4
bluepy v1.3.0
Xubuntu v16.04.6 LTS

Searching for devices gave me 4 which is correct:
[code]
3 (white, international version) of those 4 are working fine, having FW v2.7.0. The fourth device seems to be the chinese version (not white) running FW v2.6.5.

Do y

[2019-03-27 09:45] CodeFinder2 commented on #126
Okay, solved! I've upgraded to firmware v3.1.9 (using the [Flower Care android app](https://play.google.com/store/apps/details?id=com.huahuacaocao.flowercare&hl=de)) and voila:
[code]
:-)

Sorry for the noise!

[2019-03-27 09:45] #126 closed

[2019-05-28 10:45] Markkuuss opened #127 "BLE connection problems with firmware kernel 4.19"
With the latest firmware, which includes the Kernel 4.19, data transfer via Bluetooth is no longer possible after a few hours. Initially it works fine, but after a few hours no connection can be established - not only once but completely.

I have installed some older firmware versions. But it only works correctly with the last firmware commit, which still contains the Kernel 4.14:
https://github.c

[2019-06-21 09:08] ChristianKuehnel commented on #121
Just added a comment to the README

[2019-06-21 09:08] #121 closed

[2019-06-21 09:09] ChristianKuehnel commented on #119
closing old issues

[2019-06-21 09:09] #119 closed

[2019-06-21 09:09] ChristianKuehnel commented on #112
closing old issues

[2019-06-21 09:09] #112 closed

[2019-06-21 09:10] ChristianKuehnel commented on #120
closing old issues

[2019-06-21 09:10] #120 closed

[2019-06-21 09:11] ChristianKuehnel commented on #127
Hi @Markkuuss ,

thank you for letting us know. Is there anything we should do about this?
Do you want to add a comment to the documentation?

[2019-06-21 11:41] Markkuuss commented on #127
Hi @ChristianKuehnel
I'm looking for a solution to run Miflora on a current firmware as well. Or at least hints where the error could be, e.g. if it is a firmware problem or if other software has to be adapted.

[2019-07-02 00:11] huyhoang8398 opened #128 "Different Light value with different Backend."
* I got different light intensity value while using gatttool and bluepy backend.
* The gatttool is correct value thus i double check with my phone.
* So what is the problem with the bluepy?
## Hardware:
* miflora
* Raspberry Pi 3

[2019-07-06 21:12] flannsmith opened #129 "Downloading miflora with Python 3"
Getting an error when trying to install with python 3. The default python version on my raspberry pi was 2.7 but I changed it to 3.6 when I downloaded miflora and got an error saying you need to have python 3. However, in a python 3 environment when I try to import miflora it says 'no module miflora found' and when trying to install with pip3 which I just aliased as 'pip' I am getting the followin

[2019-07-06 21:18] #129 closed

[2019-07-06 21:19] flannsmith commented on #129
Oops I just had to rm -rf the miflora packages from /home/pi/.local/lib/python2.7/site-packages/
and install in python3.6

[2019-07-07 14:49] antondollmaier commented on #127
I confirm this issue as well:

- it is solvable with `hciconfig hci0 down; sleep 5; hciconfig hci0 up` - but not every time.
- strace shows that `hciconfig down`  is stuck waiting on the bluetooth socket (AF_BLUETOOTH)
- incident happens after 12-24hr, sometimes already after 60min

Raspberry Pi 3, Raspbian Buster - issue already happened on Raspbian Stretch.

Issue seems not related to bluepy or

[2019-07-07 16:11] jakkik opened #130 "Returned light value is different from what is shown in the official app"
It seems that the light value that is returned by the sensor is lower than the value that is shown in the official app provided by the sensor's manufacturer. The problem is particularly evident in lower light conditions (< 2000 lx).

For example, the value returned by miflora could be ~200 lx, while the official app shows ~500 lx in the same lighting conditions.

At least this seems to be the case

[2019-07-16 19:59] ChristianKuehnel commented on #130
To be honest, I do not really care about the exact numbers for the brightness. What I'm using is the maximum brightness during the day to judge if the plant is inthe right spot.

Why is this important to you?

What do you mean with "mode change"? Can you create a PR with the changes that work better?

[2019-09-01 06:10] ChristianKuehnel commented on #127
Closing ticket as it's not so something that can be fixed in miflora.

[2019-09-01 06:10] #127 closed

[2019-09-01 07:50] ChristianKuehnel commented on #128
I just checked and got the same results with bluepy and gatttool. Did you make sure that you had the exact same light conditions (e.g. try it at night, with lights on). The sunlight quickly changes during the day.

What were the value you were getting?

[2019-09-01 09:49] #115 closed

[2019-09-01 09:58] ChristianKuehnel commented on #110
implemented with #111

[2019-09-01 09:58] #110 closed

[2019-10-12 07:26] ChristianKuehnel opened #135 "create new release"
@open-homeautomation can you please create a new release soon?

We have a bit of dependency bug here:
* miflora 0.5 depends on `btlewrap>=0.0.4`, so "at least version 0.0.4". Which was a bad idea in hindsight. We should have set it to `==` not `>=`.
* In btlewrap 0.0.6 I changed the API a little bit, which triggers this bug: https://github.com/ChristianKuehnel/plantgateway/issues/40
* So as everyo

[2019-10-18 13:27] dckiller51 commented on #135
Hello,
we have the same problem with the bt-mqtt-gateway. I look forward to your new maj. thank you for the work done.

Dans btlewrap 0.0.6, j'ai légèrement modifié l'API, ce qui a provoqué ce bogue: ChristianKuehnel / plantgateway # 40

[2019-10-18 22:24] dckiller51 commented on #135
Update bt-mqtt-gateway ok

https://github.com/zewelor/bt-mqtt-gateway/issues/110

[2019-10-19 06:01] open-homeautomation commented on #135
0.6 now available in PyPi

[2019-10-19 06:01] #135 closed

[2019-10-30 22:03] MartinHaimberger opened #136 "Reading sensor values, blinking lights and lux"
Hi,

Reading the values from a mi flora sensor works great!
But the lux read from the sensor is not correct because while filling the cache the sensor blinks and the blinking distortes the lux reading...  in a dark room i get around 30 - 100 lux if the values is read while blinking.
Any idea how to disable the blinking or read the lux date if blinking is over or any other idea to get correct readi

[2019-10-31 09:50] ChristianKuehnel commented on #136
If I recall correctly, there is a GATT command to directly control the brightness to the LED. But I no not remember what is was...

[2019-10-31 12:00] MartinHaimberger commented on #136
Any hint where i could find it ?

[2019-11-03 11:39] MartinHaimberger commented on #136
Update:
What i have done, to get accurate readings, is insert a sleep of 5 seconds after chancing the mode to realtime and before reading the actual data.

This adds a lot of delay but its ok for me, because the mifloars get pulled every 10 minutes.

A better solution would be turning the blinking off on connecting, but i have not found anything so far.

[2019-11-24 23:00] Markkuuss commented on #127
Where could this problem be addressed? Miflora doesn't work on a current Raspberry Pi anymore.

[2019-12-12 03:36] Kernald commented on #135
Shouldn't have the 0.6 been tagged on the Git repo too?

[2019-12-12 21:42] ChristianKuehnel commented on #135
@open-homeautomation can you please push your tags?

[2020-01-03 15:17] ACrazyConcept opened #138 "VegTrug Grow Care Garden"
I just got one of the new [VegTrug Grow Care Garden](https://www.vegtrug.com/range/grow-care/grow-care-garden/grow-care-garden/) sensors in the hope it worked with this repo/HA. I doesn't quite. I get only the battery reading.
I saw a [discussion ](https://community.home-assistant.io/t/anyone-used-a-plant-sensor-other-than-xaiomi/150868/9) on the HA forum but that seems to be for the ESP platform

[2020-01-06 08:57] ACrazyConcept commented on #138
I did some progress. There seems to be 2 issues:

1. The sensor is a bit slow to update the write mode. Adding a 1 second wait: [here](https://github.com/open-homeautomation/miflora/blob/master/miflora/miflora_poller.py#L101) helps.

2. The _check_cache returns 0 [here](https://github.com/open-homeautomation/miflora/blob/master/miflora/miflora_poller.py#L181) so the cache is then cleared making ev

[2020-01-09 08:17] ACrazyConcept commented on #138
So I see now that after a couple of hours sensors are no longer updated.... Not sure where to go from here.

[2020-01-31 07:58] mauringo commented on #138
hi ACrazyConcept, i can help you if u want! I still not have the sensors but the should arrive me in a few days

[2020-02-01 14:30] ACrazyConcept commented on #138
Sounds good. I have been moving my "old" mi flora sensors from HA integration to ESPHome in the mean time. Not sure if I am going to keep them there or move them back again.

However the behavior/firmware of the VegTrug Grow Care Garden (3.5.5) is not working the same as the old ones on the ESPhome implementation.
- The light intensity can't seem to report a 0 value, so gets stuck on the last posi

[2020-02-01 14:37] mauringo commented on #138
@ACrazyConcept i suggest u to install the palystore app and then follow this guide:
[http://nilhcem.com/iot/reverse-engineering-simple-bluetooth-devices](url)
in order to undertand what the app is really doing. I really appreciate your effort

[2020-02-01 14:49] ACrazyConcept commented on #138
Interesting. Unfortunately I don't own an Android device :/

[2020-02-01 17:52] mauringo commented on #138
another try could be: dowload the apk from the playstore then, decompile it with:
[http://www.javadecompilers.com/apk](url)
It could be possible to log bluetooth events also with a Iphone i think.

[2020-02-08 00:50] ACrazyConcept commented on #138
I haven't looked into the apk yet...

But here is some screenshots to illustrate the diiference in behavior between the old/small Flower Care/VegTrug Grow Care Home and the new VegTrug Grow Care Garden:

A Flower Care sensor temperature passive broadcast:
![image](https://user-images.githubusercontent.com/36438756/74075701-162bec00-4a14-11ea-95b9-2bb00d520ebd.png)

A Flower Care sensor light inten

[2020-02-08 12:40] mauringo commented on #138
@ACrazyConcept really difficult to say, thanks to report this. The modifications u didi are the one reported before right?:

Thus, till now you are able to measure all the miflora sesnsor values but with different update rates from the sensor. are you able to read even moisture and conductivity?

Can't wait to receive my sensors, i will help you to decode the system if i do have the right skills.

[2020-02-08 14:28] ACrazyConcept commented on #138
Yes.

Yes I can get all sensors in passive mode, except battery, but that is the same for the old sensors as well. And all sensors with active polling too.
![image](https://user-images.githubusercontent.com/36438756/74086744-3e543300-4a86-11ea-9fdb-86767108eebe.png)

The hardware seems good enough. Just the firmware that needs some updates in my oppinion.

Another thing to be aware of is that it w

[2020-02-21 12:53] psilo909 opened #140 "Potential threading lock issue, leading to threads summing up when MifloraPoller is constantly used"
Hi,

I am using MifloraPoller in a custom plugin for our software SmartHomeNG (https://github.com/smarthomeNG/plugins/tree/develop/miflora).

I think there is a potential bug concerning the thread lock release in case of exceptions.

Threads are summing up in my application every time the device is not reachable:

current thread sum for my 4 plugin instances, which are constantly reading data:
plu

[2020-02-22 13:45] mauringo commented on #138
hi man,

just got my sensors, i wanna try them all and then i can tell you. Do you have done something new?
I can make a BT snoop with the android app and then I can give it to you if you want

[2020-02-23 08:41] ACrazyConcept commented on #138
How many did you get?
No news here.
I haven't got any reply from HHCC yet. Doubt I will though.

On a side note I also updated most of my old mi flora sensors the the newest firmware (3.2.1 I think it was) and now I get some weird behavior on some of them were moisture values jump 20-30% from one moment to the next.

[2020-02-24 06:02] psilo909 commented on #140
i am not sure if that really fixes it, but since yesterday the code is running stable now. you should switch to new btlewrap version: https://github.com/ChristianKuehnel/btlewrap/commit/ed5becc32185f1072d13ffb0cbd0a09721791d36

[2020-02-24 06:04] psilo909 commented on #140
i close, i think with code from recent master branch problem does not occur anymore (btlewrap 0.0.9)

[2020-02-24 06:04] #140 closed

[2020-02-28 17:40] paarak commented on #138
Hey, maybe this could be of some help.

Worked for me on my VegTrug sensor.

 It came straight into the home assistant when I added the sensor:
  - platform: mitemp_bt
in config.yaml.

You must use hacs or you install manually

Xiaomi passive BLE monitor sensor platform
https://github.com/custom-components/sensor.mitemp_bt

HACs.
https://community.home-assistant.io/t/custom-component-hacs/121727

[2020-03-23 22:01] bangom commented on #136
Have you considered implementing passive miflora data reading by sniffing all in the air "visible" data, parsing found miflora packets and adding them to the cache? Sensor sends multiple readings per minute without affecting battery life unlike active btle connection. Latest miflora firmware 3.2.1 does not send battery level, but this can be done once a day by active pooling among the firmware ver

[2020-03-25 12:01] AlexHowser opened #141 "No Data with any Bluetooth Backend"
Hi!
I try to retrieve Data from my Roya Gardeneer Dongles (Firmware 3.2.1) using my raspberry pi4 for a while now. I allways end Up with errors. (Error and Source attached beneath)

Anyone else having this issues? Thanks in advance! Alex

**Erros:**
___________________________________________________________________________________________________
Traceback (most recent call last):
  File "/usr/lo

[2020-03-27 18:12] bangom commented on #136
Could you try to find out? Would be great to disable LED blinking while reading from sensor.

[2020-03-27 18:13] bangom commented on #136
Could you specify which source-code lines you've changed? Patch would be the best :-) Thanks!

[2020-03-29 07:37] mauringo commented on #138
I tried the sensors for a long time. Mine are just like the miflora: same BLE service, same behavior also after several hour of use

[2020-03-30 12:24] MartinHaimberger commented on #136
Hi,

this is just a quitfix in the poller for my setup ... but it works for me.
In the file miflora_poller.py (path on my system /usr/local/lib/python3.7/dist-packages/miflora/)

i added following import
(import time, line 10)

[code]

and in the fill_cache function i added a sleep of 5 seconds after the connection init and the version exchange.
(time.sleep(5) line number 79)

[code]

I hope that

[2020-03-30 12:58] ThomDietrich commented on #136
If this solves the issue and we decide to implement i, let's rather divide the function and let the library user implement the delay.

[2020-03-30 13:34] bangom commented on #136
@ThomDietrich, I've tried modifying miflora library couple days ago with same hack to mitigate led blinking, but for some strange reason miflora-mqtt-daemon which uses this library failed the step "Adding sensor to device list and testing connection". I have to test again with lastest miflora-mqtt-daemon git version. But I've suspected that miflora sensor doesn't like delay between "magic number w

[2020-03-30 13:43] ThomDietrich commented on #136
Imho passive reading is an independent (and very interesting) topic and we should discuss it in a new ticket

This assumes the library is active in background, which it is not. The client would need to trigger background listening and provide a callback function to react to new passive readings. Let's move to a new ticket.

----

Did you try the same or a different solution than @MartinHaimberger

[2020-03-30 14:00] bangom commented on #136
Of course, I've just initially mentioned it here, because it solves the issue with LED blinking. Let's create new "feature request" (passive miflora reading).

I would say the same solution (I haven't modified import section, because I have already "import time" on line 6. But ```time.sleep(5)``` was right before ```self._cache = connection.read_handle(_HANDLE_READ_SENSOR_DATA)  # pylint: disable=

[2020-04-06 12:40] ACrazyConcept commented on #138
@mauringo can I ask you post a picture of one of them?

I can see they are no longer advertised on the VegTrug site: https://www.vegtrug.com/range/grow-care/ only the Grow Care Home is listed (identical to the Mi Flora sensor.)

And since 2 of the 3 I got no longer show anything else than 0 % moisture, I think the product was not fit for market yet and has been pulled/discontinued.

[2020-04-06 13:51] mauringo commented on #138
![15861810188018581123700848240969](https://user-images.githubusercontent.com/58341265/78565521-56de9080-781e-11ea-9f45-c54d6b1e0163.jpg)
Yes, this is the one beside the new miflora. Are the working just like the miflora?

[2020-04-06 15:21] ACrazyConcept commented on #138
Thanks. I have many of both of those. To my knowledge they are identical in every way except the engraved logo.

My posts here and elsewhere has been specifically regarding the bigger Grow Care Garden sensor as seen in above picture.

[2020-04-06 22:47] mauringo commented on #138
Now everything is clear! The sensors were different!

[2020-04-08 11:13] AlexHowser commented on #141
can be closed, was caused by wrong mac address

[2020-04-08 11:13] #141 closed

[2020-04-26 21:09] ACrazyConcept commented on #138
Not using this repo currently.

[2020-04-26 21:09] #138 closed

[2020-05-02 17:37] a-x- opened #143 "Misterious exception: btlewrap.base.BluetoothBackendException"
File "/usr/local/lib/python3.7/dist-packages/miflora/miflora_poller.py", line 127, in firmware_version
    with self._bt_interface.connect(self._mac) as connection:
  File "/usr/local/lib/python3.7/dist-packages/btlewrap/base.py", line 47, in __enter__
    self._backend.connect(self._mac)
  File "/usr/local/lib/python3.7/dist-packages/btlewrap/bluepy.py", line 33, in _func_wrapper
    raise Blueto

[2020-05-02 17:41] a-x- commented on #143
when I tried pygatt I got another one:
[code]

seem something weird with raspberry

[2020-05-18 16:26] WoLpH opened #144 "typing requirement breaks Python 3.8 and above"
When `typing` installed it breaks pip on Python 3.8

The result:
[code]

[2020-07-16 09:27] #144 closed

[2020-07-29 23:26] MartinHjelmare opened #149 "Requirement is pinned for miflora 0.6: btlewrap==0.0.8"
- This library supports an integration in Home Assistant.
- The upcoming pip resolver will be more strict in resolving package version conflicts:
http://pyfound.blogspot.com/2020/03/new-pip-resolver-to-roll-out-this-year.html#what-will-change
- To avoid future issues it would be good if this library would change its pinning to allow any higher version and just set a minimum version.

Thanks for yo

[2020-07-30 07:23] ChristianKuehnel commented on #149
Hi @MartinHjelmare ,

we recently pinned the btlewrap version as we had a bug caused by a non-backwards compatible change in btlewrap. To avoid such issues, we pinned the version number.

[2020-07-30 09:03] MartinHjelmare commented on #149
That's ok for now. I'm opening these issues to raise awareness as pinning a version will have larger consequences in the future and may stop an integration from working if there are non resolvable package conflicts.

Please unpin as soon as possible.

[2020-09-02 10:05] fabaff commented on #149
The pinning is problematic for the distribution packages as well. The Fedora package has to require the latest package to pass the review.

This means that `btlewrap-0.0.10` is present.

[2020-09-02 10:53] ChristianKuehnel commented on #149
I guess the main issue is: we need a new maintainer for this library and so far nobody has stepped up...

Beyond that: How do you ensure compatibility with different versions? We do need physical hardware to check if the communication is actually working...

[2020-09-08 09:25] basnijholt commented on #149
@balloob, I have just released v0.7.0 :tada:

This fixes the typing requirement and means https://github.com/home-assistant/core/pull/37707/files and Mi Flora disabling in Home Assistant can be restored!

https://pypi.org/project/miflora/#files

[2020-09-08 09:25] #149 closed

[2020-09-08 09:26] basnijholt commented on #97
This seems fixed now: https://pypi.org/project/miflora/ :tada:

[2020-09-08 09:26] #97 closed

[2020-09-08 09:33] MartinHjelmare commented on #149
Note that btlewrap still is hard pinned to 0.0.10 in miflora 0.7.0, so might become incompatible in the future when a new release is done of btlewrap.

[2020-09-08 09:35] basnijholt commented on #149
In the future I can easily do patch releases now that @open-homeautomation gave me permissions here 😄

[2020-11-22 17:10] ACrazyConcept opened #160 "Just randomly noticed a stray character in the code"
https://github.com/basnijholt/miflora/blob/be6161c6d56edfb95a1c6233a2ef9f5227040104/miflora/miflora_poller.py#L279

[2020-11-22 17:19] #160 closed

[2021-04-10 11:43] Mirarkitty commented on #7
Late comment, but I have a few of these sensors and I'm experimenting:

It seems useless to use the conductivity value directly; it's changing on soil moisture level as well as fertilizer (or probably salt and other electrolytes) amount in the soil.

![image](https://user-images.githubusercontent.com/3462581/114268667-82342680-9a02-11eb-8774-bcc12cb2137e.png)

(Came across this thread looking for

[2021-05-24 10:18] picousse opened #161 "Batteries going really fast?"
I get this:

![Screenshot_20210524-121431](https://user-images.githubusercontent.com/5084152/119333103-c5341b80-bc89-11eb-9578-980864cad656.jpg)

Looking at this, i'll be happy to have a battery by the end of the week 😔.

I'm polling every 30 min... Am i doing something wrong, or would the original batteries just be crap?
Because this is not expected behaviour, right?

Battery saving tips?

[2021-06-21 14:52] garudaonekh commented on #138
Have been searching for this one but it's not available anymore. Maybe pulled out of the market. If any update of its availability, please update me as well thanks.

[2021-06-22 18:53] paarak commented on #138
I bought them at banggood. looks sold as green or white. I have 4 pieces they have worked fine for 1.5 years, but it can be a little weird reporting when the battery starts to run out

[banggood.com](https://www.banggood.com/no/Global-Version-4-In-1-Flower-Plant-Light-Temperature-Tester-Garden-Soil-Moisture-Nutrient-Monitor-Green-or-white-Random-p-1068369.html?utm_source=googleshopping&utm_medium=

[2021-06-22 18:57] paarak commented on #138
I bought them at banggood. looks sold as green or white. I have 4 pieces they have worked fine for 1.5 years, but it can be a little weird reporting when the battery starts to run out

[banggood.com - VegTrug Grow Care Garden sensors](https://www.banggood.com/no/Global-Version-4-In-1-Flower-Plant-Light-Temperature-Tester-Garden-Soil-Moisture-Nutrient-Monitor-Green-or-white-Random-p-1068369.html?ut

[2021-06-22 19:10] ACrazyConcept commented on #138
@parak oh I was only referring to the big one. The small ones are still available.

[2021-07-13 17:59] onkelbeh opened #163 "Please do not hard pin btlewrap to this very outdated version"
Please do not hard pin btlewrap to this very outdated version

[2021-07-13 18:32] basnijholt commented on #163
Did you test if it works with newer versions?

If so, I will happily accept a PR :)

[2021-11-09 12:19] onkelbeh commented on #163
Sorry, I can't, don't have the hardware.
I just maintain it for completeness of [Home Assistant for Gentoo](https://github.com/onkelbeh/HomeAssistantRepository). I won't send an untested PR.

[2021-12-27 00:52] remosp opened #167 "ImportError: Cannot import name 'miflora_scanner'"
Hi

Im trying to execute demo.py on my Raspberry Pi and I just get the message:

from miflora import miflora_scanner
ImportError: cannot import name 'miflora_scanner' from partially initialized module 'miflora' (most likely due to a circular import)

Can you tell me, what Im doing wrong? Sorry if that is a stupid question, I'm very new to Python.
Many thanks for your help!

[2021-12-27 15:09] remosp commented on #167
Oh I got it! Indeed a stupid one... I named my File miflora.py which causes the error above. After renaming the file it worked great. Thank you for this great script!

[2021-12-27 15:09] #167 closed

[2022-01-13 12:14] cdce8p commented on #163
Any updates? Just from looking at the release notes and diff, it seems to be compatible. The only potential breakage mentioned is that `btlewrap` unpinned their requirements too.
https://github.com/ChristianKuehnel/btlewrap/releases/tag/v0.1.0
https://github.com/ChristianKuehnel/btlewrap/compare/v0.0.10...v0.1.0

This change would help us at Home Assistant resolve a dependency conflict that is cur

[2022-01-13 16:07] basnijholt commented on #163
If anyone can test this I'll merge and release (from phone). Currently AFK until February.

[2022-01-13 16:35] cdce8p commented on #163
@basnijholt Thanks for the reply! I'm unable to test it myself unfortunately. I did however check the compare diff. From what I can tell version `0.1.0` didn't change any existing APIs. Thus I think it's reasonable to assume it will work. I've opened #168 for the dependency bump.

[2022-01-15 22:11] #163 closed

[2022-01-15 22:16] basnijholt commented on #163
I released v0.7.2 without the strict pinning.

[2022-01-15 22:35] cdce8p commented on #163
Thanks @basnijholt!

[2022-01-17 12:11] Rello opened #169 "timeout for not reachable sensors"
Hello,
thank you for your library!

I am looping several sensors and try to poll them
[code]

when a sensor is not available, it takes pretty long until the loop gets the next one.
Is there a possibility to define a timeout to shorten this?

I found cache_timeout in the poller, but this seems to be doing something else.

Thank you very much!

[2022-07-05 18:37] daniel-123 opened #170 "Bluepy dependency not compatible with python 3.10"
This was brought to my attention through Home Assistant, which as of 2022.7 release [uses python 3.10](https://github.com/home-assistant/core/pull/73830) and therefore removes all integrations relying on bluepy.

In blog post explaining this breaking change they suggest migrating to [bleak](https://pypi.org/project/bleak/) which seems actively maintained unlike bluepy.

If you think such migration

[2022-07-09 12:59] basnijholt commented on #170
Unfortunately, I currently do not have a set up with which I can test the sensors with Bluetooth. I welcome any PR fixing this issue!

[2022-08-06 13:25] DarkByteZero opened #171 "Mi Flora Max Support"
I tried to get data from the new Mi Flora Max with firmware version 3.6.6.  Unfortunately, it did not work. Is this new version supported or have I done something wrong?

LOG:
Sat, 06 Aug 2022 15:17:42 ERROR    could not read data from C4:7C:8D:6D:59:3F (flora_1) with reason:
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/btlewrap/bluepy.py", line 27, in _func_wr

[2022-08-06 13:32] DarkByteZero commented on #171
Example with demo.py:

pi@plantgateway:~ $ sudo python demo.py --backend bluepy poll XX:XX:XX:XX:XX:XX
Getting data from Mi Flora
DEBUG:miflora.miflora_poller:Received result for handle 56: 64 53 33 2E 36 2E 36
FW: 3.6.6
Name: Grow care garden
DEBUG:miflora.miflora_poller:Filling cache with new sensor data.
DEBUG:miflora.miflora_poller:Received result for handle 53: 00 00 00 00 00 00 00 00 00 00 0

[2022-08-06 14:15] ThomDietrich commented on #171
Could you clarify which device you are talking about?
https://www.google.com/search?q=Mi+Flora+Max

[2022-08-06 14:41] DarkByteZero commented on #171
Xiaomi HHCC Mi Flower Care Plant Sensor Max
https://www.techpunt.nl/en/xiaomi-hhcc-mi-flower-care-plant-sensor-max.html?gclid=Cj0KCQjworiXBhDJARIsAMuzAux9hI_KRIh2B7IK5UOW0pzWWzLLExTK75GUVELdgqPfJwyu7irxemIaAmhdEALw_wcB

[2022-10-13 13:18] kamephis opened #173 "Error on bluepy installation"
I am getting the following error when I try to install bluepy like described in the README.

MacOS Monterey 12.5.1 / M1
Python 3.10.7

[code]